.container
  display: block
  width: 100%
  max-height: 65vh
  font-family: sans-serif

.label
  fill: #b0bdc8

.item
  fill: #398cff
  stroke: #fff
  stroke-width: 0.25
  filter: drop-shadow(0 0 1px #000)

.player
  fill: #c50000
  stroke: #fff
  stroke-width: 0.25
  stroke-linejoin: round
  filter: drop-shadow(0 0 1px #000)
