.crosshair
  position: absolute
  left: 50%
  top: 50%
  translate: -50% -50%
  width: 5px
  height: 5px
  border-radius: 50%
  background: #ffffeed9
  box-shadow: 0 0 4px #000b
  pointer-events: none
  &.targeted
    width: 9px
    height: 9px
    background: #f1e7cf
