@use '../../style/colors'

.container
  display: flex
  align-items: flex-end
  gap: 6px
  height: 68px
  width: 74px
  flex: none
  i
    width: 10px
    height: 100%
    border-radius: 4px
    background: colors.$accent
    transform: scaleY(0.15)
    transform-origin: bottom
    transition: transform 90ms ease
