.container
  display: block
  width: 100%

.walls
  fill: none
  stroke: #888
  stroke-width: 0.2

.portraits
  fill: #398cff
  stroke: #fff
  stroke-width: 0.25
  circle
    filter: drop-shadow(0 0 1px #000)

.player
  fill: #c50000
  stroke: #fff
  stroke-width: 0.25
  stroke-linejoin: round
  filter: drop-shadow(0 0 1px #000)

