@use '../../style/ui'

.container
  margin-top: 0.5rem

.confirmation p
  @include ui.copy

.resetButton
  padding: 0.65rem
  border: 1px solid #f996
  color: #f99

.textButton
  @include ui.textButton
